<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>
<%= image_tag(@user.avatar.url(:large), :class => "user_img") %>

<!-- <p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p> -->
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
